<section>
    <div class="container py-5">
        <div class="bg-light p-5 rounded-lg">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4 text-primary fw-bold text-uppercase">{{servicio.nombre}}</h1>
                    <p class="lead text-capitalize">{{servicio.tipoServicio.nombre}}</p>
                    <hr class="my-4">
                    <p>
                      {{servicio.descripcion}}
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="{{servicio.foto}}" style="width: 100%" class="my-3">
                </div>
            </div>
        </div>
        <h4> Reservas nuevas </h4>
        <div class="accordion" id="accordionExample" *ngIf="reservasSinConfirmar; else elseBlock">
            <div class="accordion-item" *ngFor="let reserva of reservasSinConfirmar" >
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Ver Solicitud
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>{{reserva.usuario.nombre}} {{reserva.usuario.apellido}}</strong></p>
                  <strong>Evento: {{reserva.evento.fechaHora}}</strong>
                  <ul>
                    <li>Tipo evento: {{reserva.evento.tipoEvento.nombre}}</li>
                    <li>Email: {{reserva.email}}</li>
                    <li>Telefono: {{reserva.telefono}}</li>
                    <li *ngIf="reserva.detalle">Descripcion: {{reserva.detalle}}</li>
                  </ul>
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" (click)="confirmar(reserva)" class="btn btn-secondary">Confirmar</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" (click)="rechazar(reserva)" class="btn btn-primary">Rechazar</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <h4> Reservas pendientes </h4>
          <div class="accordion" id="accordionExample" *ngIf="reservasPendientes; else elseBlock">
              <div class="accordion-item" *ngFor="let reserva of reservasPendientes" >
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ver Solicitud
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>{{reserva.usuario.nombre}} {{reserva.usuario.apellido}}</strong></p>
                    <strong>Evento: {{reserva.evento.fechaHora}}</strong>
                    <ul>
                      <li>Tipo evento: {{reserva.evento.tipoEvento.nombre}}</li>
                      <li>Email: {{reserva.email}}</li>
                      <li>Telefono: {{reserva.telefono}}</li>
                      <li *ngIf="reserva.detalle">Descripcion: {{reserva.detalle}}</li>
                    </ul>
                    <div class="btn-group me-2" role="group" aria-label="Third group">
                      <button type="button" (click)="marcarComoFinalizada(reserva)" class="btn btn-secondary">Marcar como finalizada</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                      <button type="button" (click)="cancelar(reserva)" class="btn btn-primary">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4> Reservas canceladas</h4>
            <div class="accordion" id="accordionExample" *ngIf="reservasCanceladas; else elseBlock">
              <div class="accordion-item" *ngFor="let reserva of reservasCanceladas" >
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ver Solicitud
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>{{reserva.usuario.nombre}} {{reserva.usuario.apellido}}</strong></p>
                    <strong>Evento: {{reserva.evento.fechaHora}}</strong>
                    <ul>
                      <li>Tipo evento: {{reserva.evento.tipoEvento.nombre}}</li>
                      <li>Email: {{reserva.email}}</li>
                      <li>Telefono: {{reserva.telefono}}</li>
                      <li *ngIf="reserva.detalle">Descripcion: {{reserva.detalle}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <ng-template #elseBlock>
            <h5 class="mb-3">No hay reservas</h5>
          </ng-template>
    </div>
</section>
